extends layout

block content
	section(id="home")
		span(class="bullets")
			span(class="content")
				a(class="bullet ativo" item="1")
				a(class="bullet" item="2")
				a(class="bullet" item="3")
				a(class="bullet" item="4")
		//Item - 1
		span(class="item item-1" style="background-image: url(/images/temp/51_capa.jpg)")
			span(class="container")
				article
					span(class="content")
						h1 Cachaça 51
						p. 
							Mussum ipsum cacilds, vidis litro abertis. Cénsôtis adipiscings elitis. Pra lá , depois divoltis porris, paradis. 
							Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. 
							Manduma pindureta quium dia nois paga.
						h3.
							O que fizemos?

						span(class="tag-list")
							a Design 
							a Direção de Arte 
							a Front-end 
							a Back-end 
							a Planejamento 

						a(href="/job/cachaca-51") Mais detalhes

		//Item - 1
		span(class="item item-2" style="background-image: url(/images/temp/bike_capa.jpg)")
			span(class="container")
				article
					span(class="content")
						h1 Bike da Firma
						p. 
							Mussum ipsum cacilds, vidis litro abertis. Cénsôtis adipiscings elitis. Pra lá , depois divoltis porris, paradis. 
							Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. 
							Manduma pindureta quium dia nois paga.
						h3.
							O que fizemos?

						span(class="tag-list")
							a Web
							a Front-end 
							a Animação 

						a(href="/job/bike-da-firma") Mais detalhes

		//Item - 1
		span(class="item item-3" style="background-image: url(/images/temp/sabin.jpg)")
			span(class="container")
				article
					span(class="content")
						h1 Sabin Vacinas
						p. 
							Mussum ipsum cacilds, vidis litro abertis. Cénsôtis adipiscings elitis. Pra lá , depois divoltis porris, paradis. 
							Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. 
							Manduma pindureta quium dia nois paga.
						h3.
							O que fizemos?

						span(class="tag-list")
							a Design 
							a Direção de Arte 
							a Front-end 
							a Back-end 
							a Planejamento 

						a(href="/job/sabin-vacinas") Mais detalhes

		//Item - 1
		span(class="item item-4" style="background-image: url(/images/temp/havanna.jpg)")
			span(class="container")
				article
					span(class="content")
						h1 Páscoa Havanna
						p. 
							Mussum ipsum cacilds, vidis litro abertis. Cénsôtis adipiscings elitis. Pra lá , depois divoltis porris, paradis. 
							Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. 
							Manduma pindureta quium dia nois paga.
						h3.
							O que fizemos?

						span(class="tag-list")
							a Design 
							a Direção de Arte 
							a Front-end 
							a Back-end 
							a Planejamento 

						a(href="/job/pascoa-havanna") Mais detalhes


