doctype html
html
	head
		title= title		
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/screen.css')
		link(href='http://fonts.googleapis.com/css?family=Muli:300|Roboto:500,700|Roboto+Condensed:700|Alegreya:700italic,400italic' 
			rel='stylesheet' type='text/css')
		script(src="/library/all.js")
		script(src="/javascripts/app.js")
	body
		include base/header.jade
		block content

