/* line 6, ../sass/base/_variables.scss */
.fa, .glyphicon {
  margin-right: 8px;
}

/* line 1, ../sass/cms/_base.scss */
html {
  height: 100%;
}

/* line 2, ../sass/cms/_base.scss */
body {
  background: #302f2e;
  font-family: "Muli", sans-serif;
  color: #333;
  font-weight: 300;
  height: 100%;
}
/* line 8, ../sass/cms/_base.scss */
body a {
  color: #fff;
}
/* line 10, ../sass/cms/_base.scss */
body a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* line 17, ../sass/cms/_base.scss */
.form-group {
  display: block;
}

/* line 19, ../sass/cms/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
}

/* line 21, ../sass/cms/_base.scss */
.tinymce {
  height: 100px;
}

/* line 25, ../sass/cms/_base.scss */
.right {
  float: right;
}
/* line 27, ../sass/cms/_base.scss */
.right:after {
  display: block;
  content: '';
  clear: left;
  float: none;
}

/* line 35, ../sass/cms/_base.scss */
.clear {
  clear: both;
  display: block;
}

/* line 40, ../sass/cms/_base.scss */
.alert {
  padding: 8px;
  margin-bottom: 10px;
  display: block;
}

/* line 49, ../sass/cms/_base.scss */
.fileinput-button {
  position: relative;
  overflow: hidden;
}

/* line 52, ../sass/cms/_base.scss */
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  /* line 65, ../sass/cms/_base.scss */
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}
/* line 4, ../sass/cms/_wrapper.scss */
#wrapper .side-nav {
  height: 100%;
}

/* line 9, ../sass/cms/_wrapper.scss */
#page-wrapper {
  padding-left: 250px;
}
/* line 12, ../sass/cms/_wrapper.scss */
#page-wrapper small {
  padding-left: 10px;
}

/* line 1, ../sass/cms/_login.scss */
.login-box {
  width: 300px;
  margin: auto;
}

/* line 6, ../sass/cms/_login.scss */
.fields {
  display: block;
  width: 100%;
}
