aside(class="container-menu-left")

	section(id="menu-content")
		a( class="fechar") Fechar
		ul(class="lista-itens")
			li
				a(href="/") Trabalhos
			li
				a(href="/equipe/") Sobre
			li
				a(href="/contato/") Contato

	section(id="menu-top")
		header(id="menu")
			h1(class="logo") 
				a(href="/") Weef

		span(class="icon")
			a(id="menu-toggle") 
				span &nbsp;

	

